- bundle = development? ? 'http://localhost:9999/bundle.css' : 'bundle'
- app    = development? ? 'http://localhost:9999/app.js'     : 'app'

%head
  %title= title yield(:title)
  = render 'includes/meta'
  = csrf_meta_tags
  = stylesheet_link_tag    bundle, media: 'all',
                                   'data-turbolinks-track': 'reload'
  = javascript_include_tag app,    'data-turbolinks-track': 'reload',
                                   async: production?
  = render 'includes/shim'
  = render 'includes/development'
